th{
  font-size: 18px;
  font-family: 'Sriracha', cursive;
  color:#003366;
  background-color:;
}
td{
  font-size: px;
  font-style: ;
  font-family: 'Sriracha', sans-serif;
  color:;
}
.toolbar {
    float: left;
}
